---
layout: base.njk
title: Welcome
---

{%- from "macros.njk" import component -%}

<div class="p-6 text-regal-blue">
    <div class="container">
        {{ component("headings/title", { content: "bonjour monde" }) }}
    </div>
</div>